

/* ****************
Layouts
********************/
body {
    background:#3333;
}

.header-bg {
    background:#3F51B5;
}
/* Navigation */
#form2 {
    display:none;
}


/* Map */
.map-cont {
    position: relative;
    height: 500px;
}
#map {
    position: absolute;
    top: 0px;
    bottom: 0;
    width: 80%;

}
.distance-container {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    }
     
.distance-container > * {
    background-color: orange;
    color: #fff;
    font-size: 11px;
    line-height: 18px;
    display: block;
    margin: 0;
    padding: 5px 10px;
    border-radius: 3px;
}

.marker {
/* background-image: url('mapbox-icon.png'); */
    background-size: cover;
    width: 10px;
    height: 10px;
    background-color: #222;
    border-radius: 50%;
    cursor: pointer;
}

#info {
    display: block;
    position: relative;
    margin: 0px auto;
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #222;
    background: #fff;
}
